PORT=<YOUR_PORT>
NODE_ENV=development
VERSION=alpha

# Your database credentials
POSTGRES_HOST=<YOUR_DB_HOST>
POSTGRES_PORT=<YOUR_DB_PORT>
POSTGRES_USER=<YOUR_DB_USER>
POSTGRES_PASSWORD=<YOUR_DB_PASSWORD>
POSTGRES_DATABASE=<YOUR_DB_NAME>

# OAuth credentials
GOOGLE_CLIENT_ID=<YOUR_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_CLIENT_SECRET>
GOOGLE_CALLBACK_URL=<CALLBACK_URL>

SECRET_KEY=<yourseckretkey>

#JWT
JWT_SECRET_KEY=<YOUR_JWT_SECRET_KEY>
JWT_TOKEN_EXPIRES_IN=1h

# SMTP config
SMTP_HOST=<YOUR_SMTP_HOST>
SMTP_PORT=<YOUR_SMTP_PORT>
SMTP_EMAIL=<YOUR_SMTP_EMAIL>
SMTP_PASSWORD=<YOUR_SMTP_PASSWORD>
