<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>OTP Verification Email</title>
  </head>

  <body
    style="padding: 65px 65px 65px 65px; height: 923px; background: radial-gradient(132.21% 68.86% at 43.76% 52.23%, #040e2c 0.47%, #000 100%); position: relative; margin: auto; font-family: 'Darker Grotesque', sans-serif; display: flex; justify-content: center;"
  >

    <div>
      <div
        class='image-container'
        style='width: 646px; display: flex; justify-content: space-between;'
      >
        <img
          src='https://ictv7.primeitclub.com/mailAssets/ictMeetup.png'
          alt='ictmeetup'
          class='ictmeetup'
          style='flex-shrink: 0; margin-bottom: 32px; width: 207px; height: 65px;'
        />
        <img
          src='https://ictv7.primeitclub.com/mailAssets/itClub.png'
          alt='itclub'
          class='itclub'
          style='flex-shrink: 0; margin-bottom: 32px; width: 207px; height: 65px;'
        />
      </div>

      <div
        class='container'
        style='position: relative; padding: 48px 32px 48px 32px; width: 598px; height: fit; border-radius: 24px; background: rgba(9, 13, 27, 0.5); box-shadow: 0px 0px 150px -10px #061847; backdrop-filter: blur(20px); border-style: border-box; margin-bottom: 32px;'
      >
        <div
          class='header-container'
          style='display: flex; align-items: baseline;'
        >
          <h1
            style="color: #fff; font-family: 'Syncopate'; font-size: 32px; font-style: normal; font-weight: 600; line-height: 40px; text-transform: uppercase; margin-bottom: 0px;"
          >OTP Verification</h1>
          <p
            class='dot'
            style="color: #e76028; font-family: 'Syncopate'; font-size: 32px; font-weight: 600; line-height: 40px; text-transform: uppercase; margin: 0 10px;"
          >.</p>
        </div>
        <p
          style="color: #c6c6c6; font-family: 'Darker Grotesque'; font-size: 20px; font-style: normal; font-weight: 600; line-height: 130%;"
        >Please enter this confirmation code in the window where you started
          creating your account.</p>
        <div
          class='otp-container'
          style='display: flex; margin: auto; margin: 0px 32px 0px 32px; height: 96px; padding: 8px; justify-content: center; align-items: center; margin-top: 0px; border-radius: 8px; border: 1px solid #2172eb; border-style: border-box; background: linear-gradient(97deg, rgba(11, 41, 120, 0.38) -1.24%, rgba(7, 26, 74, 0.38) 49.38%, rgba(9, 37, 107, 0.33) 100%);'
        >
          <p
            class='otp'
            style="font-size: 50px; font-weight: 700; line-height: 64px; letter-spacing: 12px; font-family: 'Darker Grotesque';"
          >{{data}}</p>
        </div>
        <p
          class='note'
          style='font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: 0.28px;'
        >*This code is valid for 30 minutes only.</p>
        <a
          href='#'
          class='button'
          style="display: inline-flex; width: 100%; max-width: 488px; padding: 12px 24px; justify-content: center; align-items: center; margin-top: 20px; gap: 12px; border-radius: 4px; background: linear-gradient(92deg, #546ffe 2.7%, #2c3dd2 62.04%, #0a459f 103.68%); box-shadow: 0px 0px 20px 0px rgba(11, 82, 188, 0.8); color: #fff; font-family: 'Darker Grotesque'; font-size: 20px; font-weight: 700; text-decoration: none;"
        >
          Visit Website
          <img
            src='https://ictv7.primeitclub.com/mailAssets/right.png'
            alt='right'
            style='max-width: 24px; height: auto;'
          />
        </a>
        <p
          class='note2'
          style='font-size: 18px; font-weight: 500; line-height: 26px; text-align: left;'
        >If you didn't create an account on www.event.primeitclub.com, please
          ignore this message.</p>
      </div>

      <div
        class='footer-container'
        style='width: 646px; display: flex; justify-content: center; align-items: center;'
      >
        <div>
          <p
            class='link'
            style="color: #c6c6c6; text-align: center; font-family: 'Darker Grotesque'; font-size: 18px; font-style: normal; line-height: 18px; text-decoration: none; position: relative; display: flex; justify-content: center; bottom: 0; margin-bottom: 0;"
          >Prime IT Club -
            <a
              href='https://www.primeitclub.com/'
              class='linksite'
              style='font-weight: 500;'
            >www.primeitclub.com</a>
            <p
              class='footer'
              style='font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: 0.28px;'
            >Prime College, Khusibu, Nayabazaar</p>
          </p>
        </div>
      </div>
    </div>
  </body>

</html>
