<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Account Registered</title>

    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
      @import
      url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
      html, body { margin: 0; padding: 65px 65px 65px 65px; width: 680px;
      height: 923px; background: var(--bg, radial-gradient(132.21% 68.86% at
      43.76% 52.23%, #040e2c 0.47%, #000 100%)); position: relative; display:
      flex; justify-content: center; margin: auto; } .image-container{ width:
      670px; display: flex; justify-content: space-between; } .ictmeetup,
      .itclub { flex-shrink: 0; margin-bottom: 32px; } .ictmeetup { width:
      207px; height: 65px; } .container { position: relative; padding: 48px 32px
      48px 32px; width: 598px; height: fit; border-radius: 24px; background:
      rgba(9, 13, 27, 0.5); box-shadow: 0px 0px 150px -10px #061847;
      backdrop-filter: blur(20px); border-style: border-box; margin-bottom:
      32px; } .robo { margin: auto; width: 186px; height: 247px; flex-shrink: 0;
      } .header-container { display: flex; align-items: baseline; } h1, .dot, p,
      .button, .note { max-width: 488px; margin-right: 32x; margin-left: 32px;
      text-align: justify; } h1 { color: #fff; font-family: Syncopate;
      font-size: 24px; font-style: normal; font-weight: 700; line-height: 36px;
      ; text-transform: uppercase; } .dot { color: var(--Secondary, #e76028);
      font-family: Syncopate; font-size: 24px; font-style: normal; font-weight:
      700; line-height: 36px; text-transform: uppercase; margin: 0 0 0 0; } p {
      color: #c6c6c6; font-family: Darker Grotesque; font-size: 20px;
      font-style: normal; font-weight: 600; line-height: 130%; } .button {
      display: flex; width: 488px; padding: 12px 24px; justify-content: center;
      align-items: center; gap: 12px; border-radius: 4px; background:
      linear-gradient(92deg, #546FFE 2.7%, #2C3DD2 62.04%, #0A459F 103.68%);
      box-shadow: 0px 0px 20px 0px rgba(11, 82, 188, 0.80); text-decoration:
      none; color: #fff; } .button img { width: 24px; height: 24px;
      vertical-align: middle; } .button:hover { box-shadow: 0px 0px 20px 0px
      rgba(6, 36, 82, 0.8); color: wheat; } .buttton:hover img { color: wheat }
      .note { font-size: 18px; font-weight: 500; line-height: 26px; text-align:
      left; } .link, .linksite, .footer { color: #c6c6c6; text-align: center;
      font-family: Darker Grotesque; font-size: 18px; font-style: normal;
      line-height: 18px; /* 144.444% */ text-decoration: none; position:
      relative; display: flex; justify-content: center; bottom: 0; /*
      margin-top: auto; */ margin-bottom: 0; } .linksite { font-weight: 500; }
      .link { font-weight: 700; } .linksite:hover { color: #fff; } .footer {
      font-size: 14px; font-weight: 400; line-height: 20px; /* 142.857% */
      letter-spacing: 0.28px; } .footer-container{ width:646px; display: flex;
      justify-content: center; align-items: center; }
    </style>
  </head>

  <body>
    <div>
      <div class='image-container'>
        <img src='./assets/ict meetup.png' alt='ictmeetup' class='ictmeetup' />
        <img src='./assets/it club.png' alt='itclub' class='itclub' />
      </div>

      <div class='container'>
        <div class='robo'>
          <img src='./assets/robo.png' alt='robo' />
        </div>

        <div class='header-container'>
          <h1>Your account has been Registered</h1>
          <p class='dot'>.</p>
        </div>

        <p>
          You can now view your schedule/events you registered for in your “My
          Schedule” page.
        </p>

        <a href='#' class='button'>Visit Website
          <img src='./assets/right.png' alt='right' />
        </a>

        <p class='note'>
          If you didn't create an account on
          <a href='#' class='linksite'>www.event.primeitclub.com</a>, please
          ignore this message.
        </p>
      </div>

      <div class='footer-container'>
        <div>
          <p class='link'>
            Prime IT Club -
            <a
              href='https://www.primeitclub.com/'
              class='linksite'
            >www.primeitclub.com</a>
            <p class='footer'>Prime College, Khusibu, Nayabazaar</p>
          </p>
        </div>
      </div>
    </div>
  </body>

</html>
